* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a, .cta, .overlay__content a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
  z-index: 3;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* Upload Image to Vision API */
  
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Vision / info page */

.vision-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px #888888;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  
}

.panel-heading {
  padding: 5em 0em 2em 0em;
}

.preview {
  padding-bottom: 3em;
  text-align: center;
  width: 20em;
  height: 20em;
}

.form-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1.1px solid black; */
  width: auto;
}

.form-control {
  width: 100%;
  /* border:0.16em solid black; */
  border-style: ridge;
  padding: 1%;
}

.form-display img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-bottom:30px;
}

.analyse-btn{
  display:inline-block;
  padding:0.5em 10em;
  border:0.16em solid limegreen;
  margin:5em 0.3em 5em 0em;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:limegreen;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer;
}

.analyse-btn:hover{
  color:green;
  border-color:green;
}

.analyse-btn:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}

@media all and (max-width:30em){
  .analyse-btn{
    display:block;
    margin:0.4em auto;
  }
}

/* results page */

.result-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px #888888;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
}

.result-header {
  width: 100%;
  padding: 2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.result-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 2em;
}

.result-img img {
  width: 100%;
  object-fit: contain;
  border: 5px double gray;

}

.result-animal {
  margin-left: 2em;
  width: 20em;
  height: 20em;
}

.trait-heading {
  width: 100%;
  margin-left: 2em;
  margin-right: 2em;
  border: 2px double grey ;
}

.label-heading {
  padding: 1em 2em 1em 2em;
  margin: 1em;
  width: auto;
  background-color: #3681f0; 
  color: white;
  border: 2px double grey ;
  text-align: center;
  font-family: "Poppins";
  font-size: 1vh;
   
}

.result-list {
  width: 100%;
  text-align: left;
  padding: 1em 2em 1em 2em;
}

.result-list h6 {
  font-family:Geneva, sans-serif;
  font-size: medium;
  font-weight:bold;
}

.confidence{
  font-family: Arial, Helvetica, sans-serif;
}

hr.less-width{
  width: 97%;
  margin: auto;
}



/* Footer styling */

footer {

  margin-top: 2em;
  width: 100%;
  background: #24252a;
  height: auto;
  padding-top: 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000000;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-menu{
  float: right;
  white-space: normal;
  padding-left: 10px;
}

.footer-menu ul{
  display: flex;
  white-space: normal;
}

.footer-menu ul li{
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #27bcda;
}

#map {
  height: 550px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.map-container {
  text-align: center;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.popupCustom .leaflet-popup-content-wrapper {
  background: #f8fafc;
  color: rgb(32, 31, 31);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

/*Nearby tracks page styling*/
.page-name {
  display: flex;
  justify-content: space-evenly;
 background-color: rgb(142, 139, 139);
  padding-top: 1%;
}

.page-name a {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-decoration: none;
  padding-left: 1%;
}

.page-name h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;
}

/*Filter effect*/
.filter {
  width: 25%;
  height: 550px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
}

.filter form {
  padding: 70px 20px;
  padding-top: 0;
}

/*Filter custom styling*/
.filter-block {
  margin-bottom: 1%;
}

.filter-block h4 , #filter-title{
  /* filter block title */
  position: relative;
  margin-bottom: 0.2%;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}



.filter-block input, .filter-block select,
.filter-block .radio-label::before,
.filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: 'Times New Roman', Times, serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}

ul {
  list-style-type: none;
}

.filter-block input[type='search'],
.filter-block input[type='text'],
.filter-block select {
  width: 100%;
  height: 40px;
  padding: 0.8%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.filter-block input[type='search']:focus,
.filter-block input[type='text']:focus,
.filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  font-size: 1.6rem !important;
}
.filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.filter-block .select {
  /* select element wrapper */
  position: relative;
}

.filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.filter-block select::-ms-expand {
  display: none;
}
.filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.filter-block input[type=radio],
.filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.filter-block .checkbox-label,
.filter-block .radio-label {
  padding-left: 24px;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-block .checkbox-label::before, .filter-block .checkbox-label::after,
.filter-block .radio-label::before,
.filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.filter-block .checkbox-label::before,
.filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.filter-block .checkbox-label::after,
.filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  /*background: url("../img/cd-icon-check.svg") no-repeat center center;*/
}
.filter-block .radio-label::before,
.filter-block .radio-label::after {
  border-radius: 50%;
}
.filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.filter-block input[type=radio]:checked + label::before,
.filter-block input[type=checkbox]:checked + label::before {
  border-color: #000000;
  background-color: #000000;
}
.filter-block input[type=radio]:checked + label::after,
.filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

/*Current run style*/
#page-name {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: bolder;
  margin-left: 1%;
  margin-top: 1%;
}

#stat-frame h3 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.num-step, .num-distance, .num-calories, .main-time {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: xx-large;
}

#stat-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
}

#stat-frame {
  display: flex;
  border-style: solid;
  border-width: thin;
  margin: 1%;
  border-radius: 20px;
  justify-content: space-evenly;
  flex-direction: row;
}

#section-1 {
  display: flex;
  margin-top: 5%;
}

.num-step{
  display: flex;
  justify-content: center;
  margin: 1%;
}

#section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#distance {
  padding-top: 5%;
}

#distance h3 {
  display: flex;
  justify-content: center;
}

.num-distance {
  display: flex;
  justify-content: center;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 75%;
}

#time #main-time, p {
  display: flex;
  justify-content: center;
}

.main-time {
  margin: 1%;
}

#time h3 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.buttons button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  margin: 2%;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  border: none;
}

.buttons button:nth-last-child(2){
  background-color: #ea5151;
}

.buttons button:nth-last-child(1){
  background-color: #53f9bf;
}

.buttons button:nth-last-child(3){
  background-color: #8b89f6;
}

#section-3 {
  display: flex;
  margin-top: 5%;
}

.num-calories {
  display: flex;
  justify-content: center;
}

/*Landing page styling*/
.landing-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10%;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.af-page-name h1{
  font-family: "Poppins", sans-serif;
  font-size: xxx-large;
}

.af-page-desc p{
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: lighter;
}

.login-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
  padding: 5%;
  border-radius: 20px;
}

.login-container input {
  width: 100%;
  height: 15%;
  border-radius: 20px;
  border-width: thin;
  margin-top: 1%;
  margin-bottom: 1%;
}

.login-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: xxx-large;
}

.login-container label {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: lighter;
}

.login-container button{
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  border: none;
  border-radius: 20px;
}

.loginBtn-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.sign-up-section p{
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: lighter;
}
